parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: config/wysiwyg-media.php

		-
			message: '#^PHPDoc type array\<string\> of property Brackets\\AdminUI\\Models\\WysiwygMedia\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/WysiwygMedia.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphTo'' and Illuminate\\Database\\Eloquent\\Relations\\MorphTo will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Feature/Models/WysiwygMediaTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphMany'' and Illuminate\\Database\\Eloquent\\Relations\\MorphMany will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Feature/Traits/HasWysiwygMediaTraitTest.php

		-
			message: '#^PHPDoc type array\<string\> of property Brackets\\AdminUI\\Tests\\TestWysiwygableModel\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/TestWysiwygableModel.php
